  
ul li {
    list-style: none;
  }
  mat-icon {
    width: 20px;
    height: 20px;
  }

  nav {
    background-color: royalblue !important;
  }

  button {
    background-color: royalblue !important;
  }