.s2 {
    padding-top: 20px;
}

input:focus {
    border-bottom: 1px solid royalblue !important;
    box-shadow: 0 1px 0 0 royalblue !important;
  }
  
  label.active {
    color: royalblue !important;
  }

  .btn{
    background-color: royalblue !important;
  }