<div class="row padding-top">
    <div class="col s12 m7 ">
        <div class="card">
            <div class="row center">
                <h2>Login</h2>
            </div>
            <form (ngSubmit)="submit()">
                <p>
                    <input type="text" matInput placeholder="Username" formControlName="username">
                </p>
                <p>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </p>
                <p *ngIf="error" class="error">
                    {{ error }}
                </p>
                <p>
                    <a (click)="openDialog()" target="_blank" rel="noopener noreferrer">Forgot Password?</a>
                </p>
                <div class="button">
                    <button type="submit" mat-button>Login</button>
                </div>
            </form>
        </div>
    </div>
</div>